@charset "UTF-8";
table { width:100%; border-spacing: 0; }
th { text-align:left; }
th h3 { margin:.6em 0 .6em .5em; }
th, td { vertical-align:top; border-top:1px solid #eee; padding: 1px 3px; background-color:#fcfcfc; }
td .ui-btn { margin:.4em 0 .5em 0; }
td .ui-btn-inner { padding: .4em 15px; }
#demo-borders .ui-collapsible-heading .ui-btn { border-top-width: 1px !important; }